header .navbar .navbar-collapse .navbar-nav li a.active{
  color: #ffd42d;
}
header .navbar .navbar-collapse .navbar-nav li:hover a{
  background: #ffd42d;
  color: #fff;
}

header .navbar .navbar-collapse .navbar-nav li ul.drop-down li a:hover {
  color: #ffffff;
  background: #ffd42d;
}

.tp-caption.medium_text .bullet-cap {
  color: #ffd42d;
}

.contact-item a:hover {
  color: #ffd42d;
}

.service-item i {
  color: #ffd42d;
}

.service-item:hover i {
  color: #fff;
  background: #ffd42d;
}
.feat-text i {
  color: #ffd42d;
}
.learn-more {
  background-color: #ffd42d;
  margin-left: 90px;
}
.top-post a {
    background: #ffd42d;
    color: #fff;

}

.more-work {
  color: #ffd42d;

}

.more-work:hover {
  border: solid 1px #ffd42d;
  color: #fff;
  background-color: #ffd42d;
}


.parallax1 h1 span {
  color: #ffd42d;
}

.purchase {
  background-color: #ffd42d;
}

.l-more:hover {
  border: 2px solid #ffd42d;
  background: #ffd42d;
  color: #fff;
}

.main-border {
  border-bottom: 2px solid #ffd42d;
}


.left-about span {
  background: #ffd42d;
  color: #fff;

}

.site-features li i {
  color: #ffd42d;
}


.buyit a {
  background-color: #ffd42d;
}

.prevpost:hover {
  color: #ffd42d;
}

.nextpost:hover {
  color: #ffd42d;
}

.middle:hover {
  color: #ffd42d;
}

.proj-link {
  background-color: #ffd42d;
}

.skills-progress p span {
  color: #ffd42d;
}


.meter > span {
  background-color: #ffd42d;
  background-image: -webkit-linear-gradient(right, #eb7230, rgba(235,114,48,0));
  background-image: -moz-linear-gradient(right, #eb7230, rgba(235,114,48,0));
  background-image: -o-linear-gradient(right, #eb7230, rgba(235,114,48,0));
  background-image: linear-gradient(to left, #eb7230, rgba(235,114,48,0));
}

.statistic-post i{
  color: #ffd42d;
}

.filter a:hover, .filter a.active {
  background-color: #ffd42d;

}

.portfolio .i-icons i{
  background: #ffd42d;
}

.pagenation li.active {
    background: #ffd42d;
    border: 1px solid transparent;
}
.pagenation li:hover {
    background: #ffd42d;
    border: 1px solid transparent;
}

.post-like:hover a,.post-like:hover i,.post-comments:hover a,.post-comments:hover i {
  color: #ffd42d;
}


blockquote {
  border-left: 5px solid #ffd42d;
}

blockquote span {
  color: #ffd42d !important;
}

.tags a:hover {
  color: #fff;
  background-color: #ffd42d;
  border-bottom: 1px solid transparent;
}

.tweet a {
  color: #ffd42d;
}

.user a > span {
  color: #ffd42d;
}

.blog-share i:hover {
  color: #ffd42d;
}

.user-spec a {
  color: #ffd42d;
}

.leave-comment input[type="submit"] {
  background-color: #ffd42d;
  border:0;
}

.adv-item i {
  color: #ffd42d;
}

.pricing .btn-md {
  background-color: #ffd42d;
}

.price-box:hover .price-name {
  background: #ffd42d;
  color: #fff;
}

.price-box:hover .p-price {
  color: #ffd42d;
}

.advantage2 .adv-item i {
  color: #ffd42d;
}

.active-header { 
  color: #ffd42d;
  margin-bottom: 0;
}

.process .process-item i {
  color: #ffd42d;
}


#contact-form input[type="submit"] {
  background-color: #ffd42d;
}
.error-big {
  text-align: center;
  color: #ffd42d;
}
.error-p a {
  color: #ffd42d !important;
}

.newsletter input[type="submit"] {
  background-color: #ffd42d;
 }

.html-style span {
  background: #ffd42d;
}

.html-style a {
  color: #ffd42d;
}

.bullets i {
  color: #ffd42d;
}

.bullets .li-circle {
  color: #ffd42d;
}
.bullets .li-ol {
  color: #ffd42d;
}

.dropcaps .naked-drop span{
  color: #ffd42d;
}

.dropcaps .full-drop span{
  background: #ffd42d;
  color: #fff;
}

.tabs-widget .tab-links li.active {
  border-top: 2px solid #ffd42d;

}

.tabs-widget .tab-links li.active a{
  color: #ffd42d;
}

.progress-bars .skills-progress p span {
  color: #ffd42d;
}

.progress-bars .meter > span {
  background-color: #ffd42d;
  background-image: -webkit-linear-gradient(right, #eb7230, rgba(235,114,48,0));
  background-image: -moz-linear-gradient(right, #eb7230, rgba(235,114,48,0));
  background-image: -o-linear-gradient(right, #eb7230, rgba(235,114,48,0));
  background-image: linear-gradient(to left, #eb7230, rgba(235,114,48,0))
}

.typing:focus {
  border:1px solid  #ffd42d !important;
}

.flex-control-paging li a:hover {
	background:#ffd42d;
}
.flex-control-paging li a.flex-active {
	background:#ffd42d;
}

.tp-caption a.lmore {
	background-color: #ffd42d;
}

.tp-bullets.simplebullets .bullet:hover,.tp-bullets.simplebullets .bullet.selected			 {
	background:#ffd42d;
}


.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #ffd42d;
	border: 2px solid transparent;
}

.tp-caption a.lmore:hover {
  	background: #d9b527;
}

.learn-more:hover {
  background: #d9b527;
}

.purchase:hover {
  background: #d9b527;
}

.buyit a:hover {
  background: #d9b527;
}

.proj-link:hover {
  background: #d9b527;
}

.aside-categories li a:hover {
  color: #d9b527;
}

.leave-comment input[type="submit"]:hover {
  background: #d9b527;
}

.pricing .btn-md:hover {
    background: #d9b527;
 
}

#contact-form input[type="submit"]:hover {
  background: #d9b527;
}

.welcome .main-title span {
  color: #d9b527;
}

.advantage2 .adv-title h1 {
  background: #d9b527;
}

.advantage2 .adv-title h1:after {
  border-top: 15px solid #d9b527;
  }

.testimonials .bxslider span {
  color: #d9b527;
}

.contact-item i {
  background: #d9b527;
}
