.bio-section {
    margin-top: -15px;
}

.typewriter-about-wrapper {
    margin-left: 55%;
    width: 18%;
    font-size: 6vw;
    overflow: hidden;
    position: absolute;
    border-right: 4px solid rgba(225, 225, 225, 1);
    white-space: nowrap;
    
    animation:  typewriter 2s steps(20) 1s 1 normal both,
                blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(225, 225, 225, 1)
    }
    
    to {
        border-right-color: transparent;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    
    to {
        width: 18%;
    }
}

.about-wrapper {
    margin-left: 38%;
    padding-top: 150px;
    width: 55%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vw;
    color: lightgray;
    text-align: center;
}

.about-wrapper a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.certifications-wrapper {
    margin-top: 300px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px 200px 200px;
}

.certifications-wrapper img {
    width: 250px;
}

/*Slider Code*/
.mySlides {
	height: 100%;
}
.mySlides img {
	width: 100%;
	height: 100%;
}
.slideshow-container {
    float: left;
	overflow: hidden;
	position: absolute;
    margin-left: 5%;
    width: 25%;
}

/************CSS Animation***********/

.animated { 
   -webkit-animation-name: fadeIn; 
           animation-name: fadeIn; 
   -webkit-animation-duration: 1s; 
           animation-duration: 1s; 
} 
@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

.skills-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 35%;
    width: 60%;
}

.skills-box {
    background-color: lightgray;
    width: 20%;
}

