.bio-section {
    display: flex;
    flex-direction: row;
}

.typewriter-about-wrapper {
    margin-left: 41%;
    width: 18%;
    font-size: 6vw;
    overflow: hidden;
    position: absolute;
    border-right: 4px solid rgba(225, 225, 225, 1);
    white-space: nowrap;
    
    animation:  typewriter 2s steps(20) 1s 1 normal both,
                blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(225, 225, 225, 1)
    }
    
    to {
        border-right-color: transparent;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    
    to {
        width: 18%;
    }
}

.biography {
    float: left;
    width: 32%;
    margin: 7% 0 5% 35%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vw;
    color: lightgray;
}

.biography a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/************SLIDESHOW START***********/

.mySlides {
	height: 100%;
}

.mySlides img {
	width: 100%;
	height: 100%;
}

.slideshow-container {
    float: left;
	overflow: hidden;
	position: absolute;
    margin-left: 5%;
    width: 25%;
}

.animated { 
   -webkit-animation-name: fadeIn; 
           animation-name: fadeIn; 
   -webkit-animation-duration: 1s; 
           animation-duration: 1s; 
}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}

@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 

.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

/************SLIDESHOW END***********/

.skills-sections {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

h5 {
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 1vw;
}

.skills-box {
    background-color: #2b4681;
    display: grid;
    grid-template-columns: 50px 1fr;
    margin: 0px 100px 20px 100px;
    width: 300px;
    font-family: 'Ubuntu', sans-serif;
}

.skills-box img {
    margin: 5px;
    width: 33px;
}

.typewriter-text {
    font-size: 5vw;
    margin-top: -50px;
    margin-left: 50px;
    width: 40%;
}



