.typewriter-about-wrapper {
    width: 20%;
    font-size: 7vw;
    overflow: hidden;
    position: relative;
    border-right: 4px solid rgba(225, 225, 225, 1);
    white-space: nowrap;
    
    animation:  typewriter 2s steps(20) 1s 1 normal both,
                blinkTextCursor 500ms steps(20) infinite normal;
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(225, 225, 225, 1)
    }
    
    to {
        border-right-color: transparent;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    
    to {
        width: 20%;
    }
}

.picture {
    float: left;
    padding: 0 3%;
}

.typewriter-about-wrapper {
    margin-left: 55%;
}

.about-wrapper {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vw;
    color: lightgray;
    text-align: center;
    width: 56%;
    margin-left: 35%;
}

.about-wrapper a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
