.title-typewriter-wrapper {
    margin: 0px 20%;
    width: 58%;
    font-size: 6vw;
    overflow: hidden;
    position: absolute;
    border-right: 4px solid rgba(225, 225, 225, 1);
    white-space: nowrap;
    
    animation:  typewriter 4s steps(50) 1.5s 1 normal both,
                blinkTextCursor 500ms steps(50) infinite normal;
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(225, 225, 225, 1)
    }
    
    to {
        border-right-color: transparent;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    
    to {
        width: 58%;
    }
}

.cognito {
    padding-top: 10%;
}

.social-media-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.linkedin {
    padding: 20px;
}

.facebook {
    padding: 20px;
}

.instagram {
    padding: 20px;
}