@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Anonymous Pro', monospace;
    background-color: #0f1938;
    color: white;
}

.image-background {
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../graphics/frontend-4342425.svg);
    background-position: center;
    background-position-y: top;
    background-size: 80%;
    background-repeat: no-repeat;
}

.typewriter-text {
    overflow: hidden;
    position: relative;
    margin-top: 2%;
    width: 60%;
    border-right: 2px solid rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
}

/*

animation-name: typewriter;
animation-duration: 4s;
animation-timing-fuction: steps(44);
animation-delay: 1s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: both;

*/

@keyframes typewriter {
    from {
        width: 0;
    }
    
    to {
        width: 60%;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.8)
    }
    
    to {
        border-right-color: transparent;
    }
}

.lower-body {
    width: 80%;
    background-color: #00d9c0;
    margin-left: 10%;
}