@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    background-color: #0f1938;
    color: white;
}

header {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.typewriter-text {
    grid-column-start: 3;
    overflow: hidden;
    position: relative;
    letter-spacing: 4px;
    border-right: 2px solid rgba(225, 225, 225, 1);
    white-space: nowrap;
    
    animation: typewriter 4s steps(40) 1s 1 normal both,
               blinkTextCursor 500ms steps(40) infinite normal;
}

/*

animation-name: typewriter;
animation-duration: 4s;
animation-timing-fuction: steps(44);
animation-delay: 1s;
animation-iteration-count: 1;
animation-direction: normal;
animation-fill-mode: both;

*/

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(225, 225, 225, 1)
    }
    
    to {
        border-right-color: transparent;
    }
}

.kde-logo-desktop {
    margin-top: -65px;
}

.kde-logo-laptop {
    margin-top: -60px;
}

.side-header {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}