@media screen and (min-width: 1500px) {
    .typewriter-text {
        letter-spacing: 16px;
        font-size: 48px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1499px) {
    .typewriter-text {
        letter-spacing: 8px;
        font-size: 44px;
    }

}

@media screen and (min-width: 700px) and (max-width: 1279px) {
    .typewriter-text {
        letter-spacing: 6px;
        font-size: 26px;
    }

}

@media screen and (max-width: 699px) {
    .typewriter-text {
        letter-spacing: 0px;
        font-size: 20px;
        width: 40%;
    }

}
