/*styles for desktop-sized screens*/
@media screen and (min-width: 1500px) {
    .typewriter-text {
        width: 900px;
        font-size: 4em;
        margin-left: 52%;
    }

    @keyframes typewriter {
        from {
            width: 0;
        }
        
        to {
            width: 900px;
        }
    } 
    
    .kde-logo-laptop {
        display: none;
    }
}

/*styles for laptop-sized screens*/
@media screen and (min-width: 1280px) and (max-width: 1499px) {
    .typewriter-text {
        width: 700px;
        font-size: 3em;
        margin-left: 50%;
    }
    
    @keyframes typewriter {
        from {
            width: 0;
        }
        
        to {
            width: 700px;
        }
    } 
    
    .kde-logo-desktop {
        display: none;
    }
}

/*styles for tablet-sized screens*/
@media screen and (min-width: 700px) and (max-width: 1279px) {
    .typewriter-text {
        width: 100%;
        font-size: 2em;
    }
    
    @keyframes typewriter {
        from {
            width: 0;
        }
        
        to {
            width: 100%;
        }
    } 
    
    .kde-logo-desktop {
        display: none;
    } 

    .kde-logo-laptop {
        display: none;
    }
}

/*styles for phone-sized screens*/
@media screen and (max-width: 699px) {
    .typewriter-text {
        width: 82%;
        font-size: 1.5em;
        margin-left: 9%;
    }
    
    @keyframes typewriter {
        from {
            width: 0;
        }
        
        to {
            width: 82%;
        }
    } 

    header {
        display: flex;
        flex-direction: column;
    }
    
    .kde-logo-desktop {
        display: none;
    } 

    .kde-logo-laptop {
        display: none;
    }
}
