@media screen and (min-width: 1500px) {
    .typewriter-text {
        font-size: 4em;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1499px) {
    .typewriter-text {
        font-size: 3em;
    }

}

@media screen and (min-width: 700px) and (max-width: 1279px) {
    .typewriter-text {
        font-size: 2em;
    }

}

@media screen and (max-width: 699px) {
    .typewriter-text {
        font-size: 1em;
    }

}
