.work-samples {
    margin: 0 35px;
}

.sample-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kids-read {
    margin-top: 60px;
}

#kids-read-work {
    flex-direction: row-reverse;
    float: right;
    align-items: flex-start;
}

#kids-read-work p {
    font-size: 3em;
}

.work-samples > .kids-read h1 {
    float: right;
    font-size: 3em;
}

.work-samples a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    transition: 0.2s;
}

.work-samples a:hover {
    color: lightgray;
}

.work-samples img {
    float: left;
    padding: 0 20px;
}

.work-samples p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4vw;
    color: lightgray; 
}


