.work-samples {
    margin: 0 35px;
}

.sample-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

#kids-read-work p {
    font-size: 2.5em;
}

#copper-hills-work {
    align-items: center;
}

.work-samples h1 {
    font-size: 2.5em;
}

.work-samples a {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    transition: 0.2s;
}

.work-samples a:hover {
    color: lightgray;
}

.work-samples img {
    padding: 0 20px;
}

.work-samples p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vw;
    color: lightgray; 
}

#codepen-work p {
    font-size: 1.9em;
}